@model IEnumerable<Test3.Models.DesignationEmpCount>

@{
    ViewBag.Title = "CountEmpByDesignation";
}

<h2>CountEmpByDesignation</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCount)
            </td>
        </tr>
    }

</table>

<br />
<br />

@Html.ActionLink("Back to Home", "Index", "Employee", new { }, new { @class = "btn btn-secondary" })

