@model Test3.Models.Employee

@{
    ViewBag.Title = "Add Employee";
}

<h2>Add New Employee</h2>

@using (Html.BeginForm("SP_AddEmployee", "Employee", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MiddleName)
        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DOB)
        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", type = "date", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MobileNumber)
        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Salary)
        @Html.TextBoxFor(m => m.Salary, new { @class = "form-control", type = "number", step = "0.01", required = "required" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DesignationId)
        @Html.TextBoxFor(m => m.DesignationId, new { @class = "form-control", required = "required" })
    </div>

    <button type="submit" class="btn btn-primary">Add Employee</button>
}


@Html.ActionLink("Back to Home", "Index", "Employee", new { }, new { @class = "btn btn-secondary" })
